{% extends 'base.html.twig' %}
{% block body %}
 <div class="container">
     <div class="row">
         <h3 class="mt-5 mb-5">Create Form</h3>
         <div class="col-md-6 offset-md-3"></div>
         {{ form_start(form) }}
         {{ form (form) }}
         {{ form_end(form) }}
     </div>
 </div>
{% endblock %}
